- name: Commit data if changed
  run: |
    git config user.name "github-actions[bot]"
    git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

    git add data/

    if git diff --cached --quiet; then
      echo "No changes"
    else
      git commit -m "chore: update vidio data split by channel & league"
      git push
    fi
